@use '../utils/colors';

//Exercise: 7427-Nesting in SASS
.alertbox {
    width: 200px; 
    & .message { 
        border: 1px solid $Red; 
       & .title { 
           color: $Red; 
        }
   }
   & .profile { 
       border: 2px solid $blue-dark; 
       & .titlle { 
           color: $blue-dark; 
           & > a { 
               color: $navy; 
               &:hover { 
                    color: $blue-dark; 
                    font-weight:bold; 
                } 
           } 
   } 
} 
}